* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
  color: #FFFFFF;
  overflow-x: hidden;

  input {
    border: none;
    outline: none;
  }

  .header {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.75rem 3rem;

    .logo {
      width: 10rem;
      height: 3rem;
    }

    a {
      display: inline-block;
      background: #E50914;
      color: #FFFFFF;
      font-size: 1rem;
      align-self: flex-start;
      padding: .5rem 1rem;
      text-decoration: none;
      border-radius: .5rem;

      &:hover {
        background: #C90711;
        transition: 200ms linear;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .form-cta {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 1.25rem 0 .75rem 0;

    input {
      width: 100%;
      padding: 0 .75rem;
      font-size: 1.125rem;
      font-family: sans-serif;
      border-radius: .5rem 0 0 .5rem;
    }

    button {
      display: flex;
      align-items: center;
      background: #e50914;
      outline: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      padding: 1.25rem 1rem;
      cursor: pointer;
      border-radius: 0 .5rem .5rem 0;
      max-width: 200px;
      white-space: nowrap;

      &::after {
        content: "";
        display: inline-block;
        width: .75rem;
        height: 1rem;
        background: url("../img/seta.svg");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: .5rem;
      }

      &:hover {
        background: #c90711;
        transition: 200ms linear;
      }
    }
  }

  .main {
    height: 100vh;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    h1 {
      font-size: 4rem;
      text-align: center;
    }

    p {
      margin-top: 1rem;
      font-size: 1.125rem;
    }

    span {
      font-size: 1.5rem;
      margin: 1rem;
    }

    .main-child {
      z-index: 1;
      display: grid;
      justify-items: center;
      max-width: 50rem;
      margin: 0 auto;
    }

    .gradient {
      background: rgba(0, 0, 0, 0.4);
      background-image: linear-gradient(to top,
          rgba(0, 0, 0, .8) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, .8) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .section {
    background: black;
    padding: 5rem 0;
    border-top: 8px solid #222;

    &.download {
      .container {
        .grid {
          div:first-child {
            order: 2
          }

          .img-tv {
            order: 1;
          }
        }
      }
    }

    &.device-pile {
      .container {
        .grid {
          .img-tv {
            .video-tv {
              width: 340px;
              top: 44px;
              left: 100px;
            }
          }
        }
      }
    }

    h1 {
      font-size: 50px;
      margin-bottom: 16px;
    }

    p {
      font-size: 26px;
    }

    .container {
      max-width: 1130px;
      margin: 0 auto;

      .grid {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        align-items: center;
        
        .img-tv {
          display: flex;
          justify-content: center;
          position: relative;
          overflow: hidden;

          img {
            position: relative;
            z-index: 1;
            width: 100%;
          }

          .video-tv {
            position: absolute;
            width: 100%;
            top: 80px;
            left: 70px;
          }
        }
      }

      .faq-card {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        h1 {
          font-size: 50px;
          text-align: center;
          line-height: 1.1;
          margin: 0;
        }

        .faq-list {
          display: flex;
          flex-direction: column;
          gap: .75rem;
          width: 100%;
          margin: 32px auto;
          padding: 0;
          list-style-type: disc;
          margin-block-end: 16px;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 0;

          .faq-list-item {
            list-style-type: none;
            display: list-item;

            .faq-question {
              font-size: 1.5rem;
              color: white;
              padding: 1.5rem;
              font-weight: 400;
              position: relative;
              width: 100%;
              border-radius: .5rem;
              border: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-align: left;
              background: #303030;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .final {
    background: black;
    padding: 64px 0;
    border-bottom: 8px solid #222;
    display: grid;
    justify-items: center;

    p {
      font-size: 1.2rem;
    }
  }

  .footer {
    background: black;
    text-align: center;
    padding: 2rem;
    line-height: 156%;
    font-size: .875rem;

    p {
      opacity: .4;
    }
  }
}